@use "sass:map";
@use "@theme/screen" as screen;

.item-page {
  margin: 24px 0;

  .item-details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;

    border-radius: 4px;
    background-color: #fff;
    padding: 16px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);

    @media (min-width: map.get(screen.$min, "md")) {
      gap: 32px;
      padding: 32px;
    }
  }
}
